<h1 class="mt-5">Fantasy League Statistics</h1>
<hr class="mb-4">

<div class="row">
  <div class="col-12 col-md-3 mb-3">
    <label for="seasonFrom">Season From</label>
    <select [(ngModel)]="fromSeason" (ngModelChange)="updatePlayers()" class="custom-select d-block w-100" id="seasonFrom">
      <option *ngFor="let s of seasons" [ngValue]="s">{{s.code}}</option>
    </select>
  </div>
  <div class="col-12 col-md-3 mb-3">
    <label for="roundFrom">Round From</label>
    <select [(ngModel)]="fromRound" (ngModelChange)="updatePlayers()" class="custom-select d-block w-100" id="roundFrom">
      <option *ngFor="let r of fromSeason.rounds" [ngValue]="r.round">{{r.label}}</option>
    </select>
  </div>
  <div class="col-12 col-md-3 mb-3">
    <label for="seasonTo">Season To</label>
    <select [(ngModel)]="toSeason" (ngModelChange)="updatePlayers()" class="custom-select d-block w-100" id="seasonTo">
      <option *ngFor="let s of seasons" [ngValue]="s">{{s.code}}</option>
    </select>
  </div>
  <div class="col-12 col-md-3 mb-3">
    <label for="roundTo">Round To</label>
    <select [(ngModel)]="toRound" (ngModelChange)="updatePlayers()" class="custom-select d-block w-100" id="roundTo">
      <option *ngFor="let r of toSeason.rounds" [ngValue]="r.round">{{r.label}}</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-3 mb-3">
    <label for="team">Team</label>
    <select multiple [(ngModel)]="team" (ngModelChange)="updatePlayers()" class="custom-select d-block w-100" id="team">
      <option [ngValue]="undefined" selected>All teams</option>
      <option *ngFor="let t of teams" [ngValue]="t">{{t.name}}</option>
    </select>
  </div>
  <div class="col-12 col-md-3 mb-3">
    <label for="position">Position</label>
    <select [(ngModel)]="position" (ngModelChange)="updatePlayers()" class="custom-select d-block w-100" id="position">
      <option [ngValue]="undefined" selected>All positions</option>
      <option *ngFor="let p of positions" [ngValue]="p">{{p.name}}</option>
    </select>
  </div>
  <div class="col-12 col-md-3 mb-3">
    <label for="sort">Sort By</label>
    <select [(ngModel)]="sort" (ngModelChange)="updatePlayers()" class="custom-select d-block w-100" id="sort">
      <option *ngFor="let s of sorts" [ngValue]="s">{{s}}</option>
    </select>
  </div>
  <div class="col-12 col-md-3 mb-3">
    <label for="apps">Apps(%)</label>
    <select [(ngModel)]="app" (ngModelChange)="updatePlayers()" class="custom-select d-block w-100" id="apps">
      <option [ngValue]="undefined" selected>0-100%</option>
      <option *ngFor="let a of apps" [ngValue]="a">{{a}}%</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-3 mb-3">
    <label for="team">Home Games</label>
    <input type="checkbox" [(ngModel)]="homeGames" (change)="updatePlayers()"/>
  </div>
  <div class="col-12 col-md-3 mb-3">
    <label for="team">Away Games</label>
    <input type="checkbox" [(ngModel)]="awayGames" (change)="updatePlayers()"/>
  </div>
</div>
<hr class="mb-4">

<table id="players" class="table table-hover table-responsive">
  <thead class="thead-dark">
  <tr>
    <th scope="col" style="width: 46%">Player</th>
    <th scope="col" style="width: 6%">£</th>
    <th scope="col" style="width: 6%">Goals</th>
    <th scope="col" style="width: 6%">Assists</th>
    <th scope="col" style="width: 6%">Apps</th>
    <th scope="col" style="width: 6%">Mins(avg)</th>
    <th scope="col" style="width: 6%">Pts</th>
    <th scope="col" style="width: 6%">Pts/Apps</th>
    <th scope="col" style="width: 6%">Value</th>
    <th scope="col" style="width: 6%">Value/Apps</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let player of players">
    <td>
      <div style="display: inline-block">
        <img src="{{player.shirtUrl}}" width="30" height="30">
      </div>
      <div style="display: inline-block">
        <div style="display: block">
          <span class="name">{{player.webName}}</span>
        </div>
        <div style="display: block">
          <span class="club">{{player.club}}</span>
          <span class="position">{{player.position}}</span>
        </div>
      </div>
      <button class="btn btn-outline-success btn-sm" (click)="addToWhiteList(player.id)">Add</button>
      <button class="btn btn-outline-dark btn-sm" (click)="addToBlackList(player.id)">Add</button>
    </td>
    <td>{{player.cost}}</td>
    <td>{{player.goals}}</td>
    <td>{{player.assists}}</td>
    <td>{{player.appearances}}</td>
    <td>{{player.minutesPerAppearance}}</td>
    <td>{{player.points}}</td>
    <td>{{player.pointsPerAppearance | number : '1.2-2'}}</td>
    <td>{{player.value | number : '1.2-2'}}</td>
    <td>{{player.valuePerAppearance | number : '1.2-2'}}</td>
  </tr>
</table>
