<h1 class="mt-5">Fantasy League Statistics</h1>
<hr class="mb-4">

<div class="row">
  <div class="col-12 col-md-3 mb-3">
    <label for="seasonFrom">Season From</label>
    <select [(ngModel)]="fromSeason" (ngModelChange)="updatePlayers()" class="custom-select d-block w-100" id="seasonFrom">
      <option *ngFor="let s of seasons" [ngValue]="s">{{s.code}}</option>
    </select>
  </div>
  <div class="col-12 col-md-3 mb-3">
    <label for="roundFrom">Round From</label>
    <select [(ngModel)]="fromRound" (ngModelChange)="updatePlayers()" class="custom-select d-block w-100" id="roundFrom">
      <option *ngFor="let r of fromSeason.rounds" [ngValue]="r.round">{{r.label}}</option>
    </select>
  </div>
  <div class="col-12 col-md-3 mb-3">
    <label for="seasonTo">Season To</label>
    <select [(ngModel)]="toSeason" (ngModelChange)="updatePlayers()" class="custom-select d-block w-100" id="seasonTo">
      <option *ngFor="let s of seasons" [ngValue]="s">{{s.code}}</option>
    </select>
  </div>
  <div class="col-12 col-md-3 mb-3">
    <label for="roundTo">Round To</label>
    <select [(ngModel)]="toRound" (ngModelChange)="updatePlayers()" class="custom-select d-block w-100" id="roundTo">
      <option *ngFor="let r of toSeason.rounds" [ngValue]="r.round">{{r.label}}</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-12 col-md-3 mb-3">
    <label for="team">Team</label>
    <select [(ngModel)]="team" (ngModelChange)="updatePlayers()" class="custom-select d-block w-100" id="team">
      <option [ngValue]="undefined" selected>All teams</option>
      <option *ngFor="let t of teams" [ngValue]="t">{{t.name}}</option>
    </select>
  </div>
  <div class="col-12 col-md-3 mb-3">
    <label for="team">Position</label>
    <select [(ngModel)]="position" (ngModelChange)="updatePlayers()" class="custom-select d-block w-100" id="position">
      <option [ngValue]="undefined" selected>All positions</option>
      <option *ngFor="let p of positions" [ngValue]="p">{{p.name}}</option>
    </select>
  </div>
</div>
<hr class="mb-4">

<table id="players" class="table table-hover table-responsive">
  <thead class="thead-dark">
  <tr>
    <th scope="col" style="width: 51%">Player</th>
    <th scope="col" style="width: 7%">£</th>
    <th scope="col" style="width: 7%">Apps</th>
    <th scope="col" style="width: 7%">Mins(avg)</th>
    <th scope="col" style="width: 7%">Pts</th>
    <th scope="col" style="width: 7%">Pts/Apps</th>
    <th scope="col" style="width: 7%">Value</th>
    <th scope="col" style="width: 7%">Value/Apps</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let player of players">
    <td>
      <div style="display: inline-block">
        <img src="{{player.shirtUrl}}" width="30" height="30">
      </div>
      <div style="display: inline-block">
        <div style="display: block">
          <span class="name">{{player.webName}}</span>
        </div>
        <div style="display: block">
          <span class="club">{{player.club}}</span>
          <span class="position">{{player.position}}</span>
        </div>
      </div>

    </td>
    <td>{{player.cost}}</td>
    <td>{{player.appearances}}</td>
    <td>{{player.minutesPerAppearance}}</td>
    <td>{{player.points}}</td>
    <td>{{player.pointsPerAppearance}}</td>
    <td>{{player.value}}</td>
    <td>{{player.valuePerAppearance}}</td>
  </tr>
</table>
