.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: black;
  color: white;
  text-align: center;
}

.table td {
  padding: 5px;
  vertical-align: middle;
  font-size: 14px;
}

td {
  text-align: center;
}

th:first-child, td:first-child {
  position: sticky;
  left: 0px;
  text-align: left;
}

td:first-child {
  background-color: #ffffff;
  text-align: left;
}

span.name {
  font-size: 13px;
}

span.club {
  font-size: 12px;
  font-weight: 700;
}

span.position {
  font-size: 12px
}

td img {
  margin-left: 5px;
  margin-right: 10px;
  vertical-align: inherit;
}

td.min {
  width: 1%;
  white-space: nowrap;
}

thead {
  font-size: 12px;
}
